*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(26, 26, 26);
}
body{
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 5%;
    right: 3%;
}

section{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

@media (max-width: 600px) {
    .eminem{
        background-attachment: local;
    }
    *{
        line-height: initial !important;
    }
}